{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}kep_web: an interface to the kep_solver library{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h2>Introduction</h2>
			<p>
			This is a web interface to <a href="https://gitlab.com/wpettersson/kep_solver">kep_solver</a>,
			a Python package for finding optimal sets of transplants within
			kidney exchange programmes. This page models the objectives as used
			by the national UK KEP &mdash; the UK Living Kidney Sharing Scheme &mdash;
			which is run by NHS Blood and Transplant. This site demonstrates its
			usage, but the Python package is self-sufficient, far more flexible, and
			more suited to larger-scale experimentation.
			</p>

			<p>
			This software is currently in active development. If you wish to see further
			objectives added (or you wish to use this software to model some particular
			set of objectives) please get in touch via the repository at
			<a href="https://gitlab.com/wpettersson/kep_solver">kep_solver</a>
			or email <a href="mailto:william.pettersson@glasgow.ac.uk">William
				Pettersson</a>, the current maintainer of this software.
			</p>

		</div>
	</div>
	<div class="row">
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2 class="header-2">Inputs to solver</h2>
			<form role="form" method="post">
				{% csrf_token %}
				{% bootstrap_form_errors form type='non_fields' %}
				<div class="container">
					<div class="row">
					{% bootstrap_field form.max_cycle_length layout='horizontal' form_group_class='col-md-6' %}
					{% bootstrap_field form.max_chain_length layout='horizontal' form_group_class='col-md-6' %}
					</div>
					<div class="row">
						<div class='col-md-12'>
							{% bootstrap_field form.json %}
						</div>
					</div>
					<div class="row">
						<div class='col-md-6'>
							{% buttons submit='Submit' %}{% endbuttons%}
						</div>
						<div class='col-md-6'>
							<button type="button" class="btn btn-primary load-json" data-file="sample-1.json">
								Load Sample JSON
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
