{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}kep_web: an interface to the kep_solver library{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h2>Introduction</h2>
			<p>
			This is the JSON API for <a href="https://gitlab.com/wpettersson/kep_solver">kep_solver</a>,
			a Python package for finding optimal sets of transplants within
			kidney exchange programmes. This API models the objectives as used
			by the national UK KEP &mdash; the UK Living Kidney Sharing Scheme &mdash;
			which is run by NHS Blood and Transplant. This site demonstrates its
			usage, but the Python package is self-sufficient, far more flexible, and
			more suited to larger-scale experimentation.
			</p>

			<p>
			This endpoint can be accessed with a HTTP POST request with Content-Type
			set to application/x-www-form-urlencoded (also known as a HTTP POST form
			request), and with one mandatory key-value pair and two optional
			key-value pairs. The three pairs are:
			<ul>
				<li>data: a string representation of the JSON containing the instance to solve</li>
				<li>max_cycle_length: (optional) the maximum number of recipients in a cycle</li>
				<li>max_chain_length: (optional) the maximum number of recipients in a chain</li>
			</ul>
			Note that max_chain_length can be at most 2, and max_cycle_length can be
			at most 3, as the UKLKSS objectives are not well-defined for longer
			cycles or chains.
			</p>

			<p>As an example, one can download a sample JSON file from
				<a href="https://kep-web.optimalmatching.com/static/jsons/sample-1.json">
					https://kep-web.optimalmatching.com/static/jsons/sample-1.json
				</a>, and then using <a href="https://httpie.io">HTTPie</a> one can run the following command to solve the instance:
				<code>http --form https://kep_web.optimalmatching.com/solve/uk/json data=@sample-1.json max_cycle_length=3 max_chain_length=2</code>
			</p>

			<p>Descriptions of both input and output formats can be found at
				<a href="https://kep-solver.readthedocs.io/en/latest/source/formats.html">
					https://kep-solver.readthedocs.io/en/latest/source/formats.html
				</a>.
			</p>

			<p>
			This software is currently in active development. If you wish to see further
			objectives added (or you wish to use this software to model some particular
			set of objectives) please get in touch via the repository at
			<a href="https://gitlab.com/wpettersson/kep_solver">kep_solver</a>
			or email <a href="mailto:william.pettersson@glasgow.ac.uk">William
				Pettersson</a>, the current maintainer of this software.
			</p>
		</div>
	</div>
{% endblock %}
