.ndd {
	background-color: #f9a5a5;
}

nav {
	margin-bottom: 20px;
	border-radius: 0px 0px 5px 5px;
	background-color: #cafdec;
}

span.exchange:hover {
	text-decoration: underline;
	cursor: pointer;
}

span.hasbackarc {
	background-color: #d0ddf2;
}
