<div class="modal" tabindex="-1" role="dialog"
																 id="exchangemodal{{ident}}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Exchange details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body table-responsive">
				<table class="table table-striped table-bordered table-hover w-auto">
					<tr>
						<td>Exchange Identifier</td>
						<td>{{ ident }}</td>
					</tr>
					<tr>
						<td>Cycle (vertex IDs)</td>
						<td>{{ cycle }}</td>
					</tr>
					<tr>
						<td>Patient(donor) list</td>
						<td>{{ patdon }}</td>
					</tr>
					<tr>
						<td>Number of backarcs</td>
						<td>{{ num_backarcs }}</td>
					</tr>
					<tr>
						<td>Weight</td>
						<td>{{ weight }}</td>
					</tr>
					<tr>
						<td>Backarcs</td>
						<td>{{ ba_string }}</td>
					</tr>
					<tr>
						<td>Embedded exchanges</td>
						<td>{{ emb_string }}</td>
					</tr>
					<tr>
						<td>Alternate exchanges</td>
						<td>{{ alt_string }}</td>
					</tr>
				</table>
				<p>
				An embedded exchange is an exchange that matches a subset of the same
				recipients (without using any new non-directed donor). An alternate
				exchange is an exchange that matches exactly the same recipients
				(without using any new non-directed donor).
				</p>
				<p>
				Note that backarcs, embedded, and alternate exchanges are written as
				exchanges, with its leading exchange identifier and then the actual exchange
				described within square brackets.
				</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
