{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}kep_web: an interface to the kep_solver library{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h2>Introduction</h2>
			<p>
			This is a web interface to <a href="https://gitlab.com/wpettersson/kep_solver">kep_solver</a>,
			a Python package for finding optimal sets of transplants within
			kidney exchange programmes. This site models the following real-world
			kidney exchange programmes to demonstrate its usage, but the Python
			package is self-sufficient, far more flexible, and more suited to
			larger-scale experimentation.
			</p>
			<ul>
				<li><a href="{% url 'ukgui' %}">UK Living Kidney Sharing Scheme</a></li>
			</ul>
			<p>
			This software is currently in active development. If you wish to see further
			objectives added (or you wish to use this software to model some particular
			set of objectives) please get in touch via the repository at
			<a href="https://gitlab.com/wpettersson/kep_solver">kep_solver</a>
			or email <a href="mailto:william.pettersson@glasgow.ac.uk">William
				Pettersson</a>, the current maintainer of this software.
		</div>
	</div>
{% endblock %}
