{% extends 'base.html' %}
{% load bootstrap4 %}
{% load exchange_modal %}
{% block title %}KEP Solution{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-success w-auto">
				<h4 class="display-4">Selected exchanges</h4>
				{% for exchange in solution.selected %}
					<a data-toggle="modal"
							data-target="#exchangemodal{{exchange.exchange.id}}">
						<span class="exchange">{{ exchange.shorttext|safe }}</span>{% if not forloop.last%}, {% endif %}
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h4 class="display-4">Achieved objectives</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover w-auto">
					<tr>
						<th>Objective</th>
						<th>Score</th>
					</tr>
					{% for objective in objectives %}
					<tr>
						<td>{{ objective.0.describe }}</td>
						<td>{{ objective.1 }}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h4 class="display-4">Timing</h4>
			<table class="table table-striped table-bordered table-hover w-auto">
				<tr>
					<th>Task</th>
					<th>Time (s)</th>
				</tr>
				{% for timing in solution.times %}
				<tr>
					<td>{{ timing.0}}</td>
					<td>{{ timing.1|floatformat:2 }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h4 class="display-4">Length 2 exchanges</h4>
			<h5 class="display-5">{{ lentwo }} in total</h5>
			{% for exchange in solution.possible %}
				{% if exchange.exchange.vertices|length == 2 %}
					<a data-toggle="modal"
						 data-target="#exchangemodal{{exchange.exchange.id}}">
						<span class="exchange">{{ exchange.shorttext|safe }}</span>{% if not forloop.last%}, {% endif %}
					</a>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h4 class="display-4">Length 3 exchanges</h4>
			<h5 class="display-5">{{ lenthree }} in total</h5>
			{% for exchange in solution.possible %}
				{% if exchange.exchange.vertices|length == 3 %}
					<a data-toggle="modal"
						 data-target="#exchangemodal{{exchange.exchange.id}}">
					<span class="exchange">{{ exchange.shorttext|safe }}</span>{% if not forloop.last%}, {% endif %}
					</a>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	{% for exchange in solution.possible %}
		{% exchange_modal exchange graph %}
	{% endfor %}
{% endblock %}
