{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}

{% load static %}
{% block bootstrap4_extra_head %}
	<title>{% block bootstrap4_title %}{% block title %}{% endblock %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/kep_web.css' %}"/>
	<script src="{% static 'js/kep_web.js' %}"></script>
{% endblock %}


{% block bootstrap4_content %}
<header>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light">
			<a class="navbar-brand" href="#">kep_web</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/solve/uk/gui">UK Solver</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/solve/uk/json">UK Solver JSON API</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="https://kep-solver.readthedocs.io/en/latest/source/formats.html#input">File formats</a>
					</li>
			</div>
		</nav>
	</div>
</header>
	<div class="container">
		{% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

		{% block content %}(no content){% endblock%}
	</div>
<div class="container">
	<footer class="my-4 py-3 border-top">
		<p>
			kep_solver and kep_web have been supported by the Engineering and Physical Sciences Research Council (EPSRC) grants
			<a href="https://gow.epsrc.ukri.org/NGBOViewGrant.aspx?GrantRef=EP/T004878/1">EP/T004878/1 (Multilayer Algorithmics to Leverage Graph Structure)</a>
			and
			<a href="https://gow.epsrc.ukri.org/NGBOViewGrant.aspx?GrantRef=EP/X013618/1">EP/X013618/1 (KidneyAlgo: New Algorithms for UK and International Kidney Exchange)</a>.
		</p>
		<p>
			Running <a href="https://gitlab.com/wpettersson/kep_solver">kep_solver</a> version {{ version }}.
		</p>
	</footer>
</div>
{% endblock %}
