{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}KEP Web{% endblock %}
{% block content %}
	<p>
	This is a web interface to <a href="https://gitlab.com/wpettersson/kep_solver">kep_solver</a>,
	a Python package for finding optimal sets of transplants within
	kidney exchange programmes. It currently only models the objectives as used
	by the national UK KEP &mdash; the UK Living Kidney Sharing Scheme &mdash;
	which is run by NHS Blood and Transplant.
	</p>

	<p>
	This software is currently in active development. If you wish to see further
	objectives added (or you wish to use this software to model some particular
	set of objectives) please get in touch via the GitLab repository at
	<a href="https://gitlab.com/wpettersson/kep_solver">kep_solver</a>
	or email <a href="mailto:william.pettersson@glasgow.ac.uk">William
		Pettersson</a>, the current maintainer of this software.
{% endblock %}
